 /*-------- TYPOGRAPHY --------*/

 body {
  background-color: #FCFCFF;
 
 }

 h1 {
     font-size: 70px;
     color: #2C2C44;
     font-family: 'Abril Fatface', "Baskerville", cursive; 
     line-height: 90px;

 }



 h2 {
     font-size: 30px;
     color: #3E3E5F;
     line-height: 40px;
     font-family: 'Abril Fatface', cursive;
     margin-top: -6px;

 }


.flip {
  
    width: 80%;
    margin-left: 5em;
    margin-top: 0;
}


 .date {
     font-size: 14px;
     color: #8B8C9F;
     font-family: 'IBM Plex Sans', sans-serif;

 }

 .avatarh1 {
     font-size: 22px;
     color: #3E3E5F;
     font-family: 'Abril Fatface', cursive;

 }

 .avatarh2 {
     font-size: 16px;
     color: #4F4F5C;
     font-family: 'IBM Plex Sans', sans-serif;

 }



 p {
     font-size: 18px;
     color: #4F4F5C;
     font-family: 'IBM Plex Sans', sans-serif;

 }


.avatarh1 i {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}



 .mini_caption {
     font-size: 12px;
     color: #4F4F5C;
     font-family: 'IBM Plex Mono', monospace;
     font-style: italic;
     line-height: 20px;
 }


 h3 {
     font-size: 22px;
     color: #4F4F5C;
     font-family: 'IBM Plex Sans', sans-serif;


 }

 h4 {
     font-family: 'IBM Plex Sans', sans-serif;
     color: #5800FF;
     
     text-transform: uppercase;
     font-size: 14px;
     font-weight: bold;
 }



 .line {
     border: solid #8B8C9F .5px;

 }


 .colorline {
     border: solid rgba(255, 209, 64, 1) 1.5px;
 }


 .container {
     text-align: center!important;
 }


 #intro {
     padding-top: .4em;
 }




 .audiocontrols {
     width: 100%;
 }



 /*--------- BUTTONS ---------*/

 .btn_mini {
     position: relative;
     top: 0;
     transition: top ease 0.4s;
     background-color: #5800FF;
     border: #5800FF solid 2px;
     margin-right: 1em;
     color: white;
     padding: 10px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     font-family: 'IBM Plex Mono', monospace;
     font-weight: 600;
     transition: 0.4s;
     -webkit-box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);
     -moz-box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);
     box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);

 }

 .btn_mini:hover {
     cursor: pointer;
     border: #5800FF solid 2px;
     background-color: white;
     color: #5800FF;
     -webkit-box-shadow: 5px 5px 0px 0px rgba(88, 0, 255, 1);
     -moz-box-shadow: 5px 5px 0px 0px rgba(88, 0, 255, 1);
     box-shadow: 5px 5px 0px 0px rgba(88, 0, 255, 1);
 }



 .btn_secondary {
     position: relative;
     top: 0;
     transition: top ease 0.4s;
     background-color: white;
     border: #5800FF solid 2px;
     color: #5800FF;
     padding: 10px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     font-family: 'IBM Plex Mono', monospace;
     font-weight: 600;
     transition: 0.4s;
     -webkit-box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);
     -moz-box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);
     box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);
 }

 .btn_secondary:hover {
     cursor: pointer;
     background-color: rgba(255, 209, 64, 1);
     -webkit-box-shadow: 5px 5px 0px 0px rgba(88, 0, 255, 1);
     -moz-box-shadow: 5px 5px 0px 0px rgba(88, 0, 255, 1);
     box-shadow: 5px 5px 0px 0px rgba(88, 0, 255, 1);
 }



 .dropshadow {
     -webkit-box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);
     -moz-box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);
     box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);

 }




 /*-------- PILLS --------*/

 .pill {
     background-color: #ECECEC;
     font-family: 'IBM Plex Mono', monospace;
     font-size: 12px;
     border: none;
     color: #4F4F5C;
     padding: 6px 12px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     margin-right: 5px;
     border-radius: 25px;
     margin-bottom: 1em;
     margin-top: 1em;


 }






 /*-------- HOMEPAGE STYLES --------*/

 .avatarimage {

     width: 65px;
     float: left;
     margin-right: 1.5em;
     -webkit-box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);
     -moz-box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);
     box-shadow: 5px 5px 0px 0px rgba(255, 209, 64, 1);


 }






 ul li {
     font-size: 16px;
     font-family: 'IBM Plex Sans', sans-serif;
 }


 .me {
     width: 30%;
     height: auto;
 }



 strong {
     font-weight: bold;
 }

 .row {
     text-align: left;

 }

 .centered {
     text-align: center;

 }






 /*-------- SPACERS --------*/

 .lgspacer {
     padding-top: 5em;

 }

 .smspacer {
     padding-top: 2em;

 }


 .xsspacer {
     padding-top: 1.5em;

 }


 .xxsspacer {
     padding-top: 1em;

 }



 .xxxsspacer {
     padding-top: .2em;

 }


 /*-------- SPACERS --------*/

 p i {
     padding-right: 10px;
     color: #4d4d4d;
 }


 .figcap {
     padding-top: 10px;
     font-size: 12px;
     font-weight: 400;
     
     color: black;
     font-family: 'IBM Plex Mono', monospace;

 }

 .topnav {
     overflow: hidden;

 }

 .topnav a {
     float: left;
     color: black;
     text-align: center;
     padding-left: 2em;
     padding-top: 1em;
     text-decoration: none;
     font-size: 20px;
 }


 ul li {
     line-height: 35px;
 }


 /*-------- FOOTER ICON BAR --------*/

 .icon {
     font-size: 20px;
     padding-left: 10px;
     padding-right: 10px;
 }



 .iconbar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     align-content: center;

 }

 .iconbar i {
     color: black;
     transition: color .5s;
 }

 .iconbar i:hover {
     color: #FFD140;
 }


 .col-md-12 {
     margin-top: -10px;
 }







 @media screen and (max-width: 770px) {
     .content {
         width: 90%;
         margin: 0 auto;
         margin-top: 5em;
         margin-bottom: 10em;
     }

     .imagesize {
         width: 100%;
         height: auto;
     }

     .btn_mini {
         margin-bottom: 1em;
     }

     h1 {
         font-size: 55px;
         line-height: 65px;
     }

     h2 {
         margin-bottom: 1em;
     }


 }







 @media screen and (min-width: 600px) {
     .content {
         width: 10%;
         margin: 0 auto;
         margin-top: 5em;
         margin-bottom: 10em;
     }

     .btn_mini {
         margin-bottom: 1em;
     }




 }




 @media (max-width: 590px) {
     .container {
         max-width: 95%;
     }
     
     .mobilespace {
         padding-top: 2em;;
     }
     
     .figcap {
         text-align: center;
     }
     
     .flip {
  
        width: 100%;
        margin-left: 0em;
        margin-top: 2em;
    }
     
     .lgspacer {
     padding-top: 2em;

 }
     
     .pill {
        margin-bottom: .5em;
     margin-top: .5em; 
     }


 }


 @media screen and (min-width: 900px) {
     .btn_mini {
         margin-bottom: 1em;
     }
     

 }


 @media screen and (min-width: 1000px) {
     .content {
         width: 45%;
         margin: 0 auto;
         margin-top: 5em;
         margin-bottom: 10em;
     }
 }
